body{
	background-color: #632983;
}



/*
.container{
	display: flex;

}

.box{
	width: 100%;
	height: 667px;
}

/*.pic{
	background-color: blue;
}





@media screen and (min-width:950px){
	.container{
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
}

*/

